body{font-size: 12px; font-family: "宋体";color: #515151;}
/* 重置浏览器的默认样式 */
body,h2,form,table{padding: 0; margin: 0;}
#box{
    width: 660px;
    height: 600px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 50px auto 0;
}
.header{
    font-size: 22px;
    color: #0b0b0b;
    padding-bottom: 30px;
}
.header span{
    font-size: 12px;
    font-weight: normal;
}
td{padding-bottom: 26px;}
td.left{
    width: 78px;
    text-align: right;/*提示信息右对齐*/
    padding-right: 8px;/*拉开提示信息和表单控件的距离*/
}
.red{color: #f00;}
.txt01,.txt02{
    width: 264px;
    height: 12px;
    border: 1px solid #ccc;
    padding: 3px 3px 3px 26px;
    font-size: 12px;
    color: #949494;
}
.txt01{
    background: url(img/name.png) no-repeat 2px center;
}
.txt02{
    background: url(img/phone.png) no-repeat 2px center;
}
.txt03{
    width: 122px;
    height: 12px;
    padding: 3px 3px 3px 26px;
    font-size: 12px;
    background: url(img/email.png) no-repeat 2px center;
}
.course{ width: 184px;}
.message{
    width: 432px;
    height: 164px;
    font-size: 12px;
    color: #949494;
    padding: 3px;
}